.block_ludifica .block_ludifica-content,
.block_ludifica .block_ludifica-content a,
.block_ludifica .block_ludifica-content a:hover {
    color: #4c4c4c;
}

.block_ludifica .player_info {
    display: flex;
    flex-wrap: nowrap;
    min-height: 654px;
}

.block_ludifica .player_info h3 {
    display: flex;
    flex-wrap: wrap;
}

.block_ludifica .player_info h3 span {
    padding: 10px;
    border-right: 2px solid #ddd;
    display: inline-block;
}

.block_ludifica .player_info h3 span:last-child {
    border-right: none;
}

.block_ludifica .player_info .buttons {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #ddd;
}

#page-blocks-ludifica-avatars .notavailableyet,
#page-blocks-ludifica-tickets .notavailableyet,
#page-blocks-ludifica-badges .notavailableyet,
.block_ludifica .notavailableyet {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    width: 100%;
}

#tickets-list .oneticket,
#badges-list .onebadge {
    margin-bottom: 20px;
}

#tickets-list .oneticket .picture-box,
#badges-list .onebadge .picture-box {
    padding-right: 15px;
}

#tickets-list .oneticket .picture-box img,
#badges-list .onebadge .picture-box img {
    max-width: 150px;
    max-height: 150px;
}

#tickets-list .oneticket .ticketcontent,
#badges-list .onebadge .badgecontent {
    display: flex;
}

#tickets-list .oneticket .card-header a {
    float: right;
    cursor: pointer;
}

#tickets-list .oneticket .card-header a i {
    border: 2px solid;
    border-radius: 50%;
    padding: 2px;
}

.block_ludifica-modal {
    display: none;
}

.alertc-control {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 50%;
    z-index: 999;
    border: 2px dashed;
}

.alertc-control .alert {
    margin: 0;
}

.usercode.usercode-used {
    text-decoration: line-through;
}

/*Avatars*/
#avatars-list .oneavatar {
    width: 200px;
    margin: 20px;
}

#avatars-list .oneavatar.usernothas .picture-box img {
    filter: grayscale(1);
}

#avatars-list .avatarcontent {
    position: relative;
}

#avatars-list .cost {
    position: absolute;
    right: 5px;
    top: 5px;
    background: rgba(8, 8, 8, 0.7);
    color: #fff;
    padding: 0 5px;
    border-radius: 10px;
}

#avatars-list .picture-box img {
    width: 100%;
}

#avatars-list .info-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background: rgba(20, 20, 20, 0.8);
    color: #fff;
    font-size: 80%;
    transform: scale(0);
    transition: all .2s ease-in-out;
    overflow: auto;
}

#avatars-list .avatarcontent:hover .info-box {
    transform: scale(1);
}

#avatars-list .oneavatar.usernothas [data-action="use"],
#avatars-list .oneavatar.inuse [data-action="use"] {
    display: none;
}

#avatars-list .oneavatar.userhas [data-action="buy"] {
    display: none;
}

#avatars-list .oneavatar.userhas .cost {
    display: none;
}

#avatars-list .oneavatar .used {
    display: none;
}

#avatars-list .oneavatar.inuse .used {
    display: inherit;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 50px;
}

#avatars-list .card-footer {
    padding: 5px;
}
/*End Avatars*/

.block_ludifica .avatar-box {
    text-align: center;
    margin: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0) 100%);
    padding: 20px 50px 0 0;
}

.block_ludifica .avatar-box.MD {
    margin-top: 0;
}

.block_ludifica .avatar-box img {
    margin-bottom: 10px;
    max-width: 100%;
}

.block_ludifica-tabs i {
    font-size: 20px;
}

/* Tabs control */
.block_ludifica-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
}

.block_ludifica-tabs > [data-ref] {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
}

.block_ludifica-tabs > .active {
    cursor: default;
}

.block_ludifica-tabs > .active,
.block_ludifica-tabs > :hover[data-ref] {
    border-color: #aaa;
    background-color: #ddd;
}

.block_ludifica-tabcontent {
    padding: 0;
    display: none;
}

.block_ludifica-tabcontent.active {
    display: inherit;
}

/* End Tabs control */

/* Store */
.store-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.store-tabs > a {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    display: inline-block;
    text-decoration: none;
}

.store-tabs > .active {
    cursor: default;
}

.store-tabs > .active,
.store-tabs > :hover[data-ref] {
    border-color: #aaa;
    background-color: #ddd;
    text-decoration: none;
}

/* End Store */

/* Ranking tables */
.block_ludifica-tabcontent .generaltable td {
    border: none;
    font-size: 14px;
}

.block_ludifica-tabcontent .numeric-cel {
    text-align: left;
}

.block_ludifica-tabcontent.tabranking .generaltable .current-user {
    background-color: #e9ecef;
}
/* End Ranking tables */

/* Contextual help */
.ludifica_help {
    background: none;
    border: none;
    color: #0f6cbf;
}
/* End contextual help */

/* Dynamic help */

.block_ludifica .pointsinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}

.block_ludifica .pointsinfo .icon {
    font-size: 2em;
}

.block_ludifica .pointsinfo .card-text > ul > li > img {
    margin-right: 9px;
}

.block_ludifica .pointsinfo .fa {
    margin-right: 26px;
}

.tab-dynamichelps .card {
    max-width: 500px;
    margin-bottom: 20px;
}

.tab-dynamichelps .card-header {
    font-size: 120%;
    line-height: 120%;
}

.tab-dynamichelps .activities-list .bg-primary {
    color: #fff;
}
/* End dynamic help */

/* Copy badge url */

#page-blocks-ludifica-badges .share-container {
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid #e5e5e5;
    padding: 20px 0;
}

#page-blocks-ludifica-badges .share-container .share-content {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 20px;
}

#page-blocks-ludifica-badges .share-container .input-container {
    width: 100%;
}

#page-blocks-ludifica-badges .share-container input[name="badgelink"] {
    border: 2px solid #d7d7d7;
    font-style: italic;
}

#page-blocks-ludifica-badges .share-container .input-group-text {
    border-color: #d7d7d7;
    border-right: none;
    background-color: #f5f5f5;
}

#page-blocks-ludifica-badges .share-container .input-group-text i {
    color: #d7d7d7;
}

#page-blocks-ludifica-badges .share-container .share-icons {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

#page-blocks-ludifica-badges .share-container .share-icons a {
    border-radius: 50%;
    color: #6ca0a5;
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    font-size: 22px;
    background-color: #eaeaea;
}

#page-blocks-ludifica-badges .share-container .share-icons a i {
    color: #6ca0a5;
}

#page-blocks-ludifica-badges .msg-badgelink-copy {
    position: absolute;
    background-color: #fff;
    opacity: 0.9;
    padding: 5px;
    border: 1px dashed;
    font-size: 70%;
    left: 39px;
    min-width: 208px;
}

#page-blocks-ludifica-badges .modal img {
    display: block;
    margin: auto;
    max-width: 350px;
    margin-bottom: 15px;
}

#page-blocks-ludifica-badges .modal .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#page-blocks-ludifica-badges .modal h5 {
    text-align: center;
}

/* End copy badge url */

/* Criteria list */

.badgecontent ul {
    list-style: none;
}

/* End of criteria list */

/* Unavailable badge */

.unavailable {
    filter: saturate(0);
}

#page-blocks-ludifica-badges .unavailable .openshare,
#page-blocks-ludifica-badges .unavailable .expirebadge {
    display: none;
}

#page-blocks-ludifica-badges .unavailablewarning {
    font-size: 15px;
    color: #646464;
    font-style: italic;
    display: block;
    margin-top: 5px;
}

/* End of unavailable badge */

/* Local badges admin */
#badges-list .onebadge.notactive .card-body.badgecontent {
    background-color: lightgray;
}

#badges-list .onebadge .improvecriteria .badge {
    color: #fff;
}
/* End of Local badges admin */

.ludifica_stats > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #4c4c4c;
    background-color: #fffc;
    padding: 5px;
    border-radius: 5px;
}

.block_ludifica .onebadge {
    width: 100px;
}

.userbadges-ludifica {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.userbadges-ludifica .onebadge + .btn {
    background-color: #4c4c4c;
    width: 100%;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    position: relative;
}

.userbadges-ludifica .btn:hover,
.block_ludifica .showhelpsbutton:hover,
.block_ludifica .showrankingbutton:hover {
    background-color: #fff;
    color: #4c4c4c;
}

.block_ludifica .avatar-box > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.block_ludifica .showhelpsbutton {
    background-color: #4c4c4c;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    padding-left: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    position: relative;
    z-index: 1;
}

.block_ludifica .tab-profile {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 200px;
}

.block_ludifica .avatarbust {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -30px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #4c4c4c;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}

.block_ludifica .avatarbust img,
.block_ludifica .onebadge img {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
    transition: transform 0.1s ease;
}

.block_ludifica .avatarbust a {
    display: block;
    width: 100%;
}

.block_ludifica .onebadge img:hover,
.block_ludifica .avatarbust img:hover {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    transform: scale(1.1);
}

.block_ludifica .avatarbust + div + span {
    font-size: 20px;
    color: #808080;
}

.lateralbar-ludifica {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    margin-top: 15px;
    width: 108px;
    align-items: center;
}

.lateralbar-ludifica > div {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    text-align: center;
    margin-top: 100px;
    width: 108px;
}

.lateralbar-ludifica > div span {
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    color: #4c4c4c;
    height: 70px;
    width: 70px;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.1s ease;
    margin-bottom: 7px;
}

.lateralbar-ludifica > div a:hover > span {
    transform: scale(1.1) rotate(5deg);
    box-shadow: rgba(50, 50, 93, 0.2) 0 6px 18px -2px, rgba(0, 0, 0, 0.2) 0 3px 15px -3px;
}

.lateralbar-ludifica > div span i {
    font-size: 50px;
    margin-top: 9px;
    margin-left: -23px;
}

.lateralbar-ludifica > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_ludifica .rankingprofile {
    display: flex;
    align-items: flex-start;
}

.block_ludifica .rankingprofile p,
.block_ludifica .avatarbust img {
    margin: 0;
}

.block_ludifica .rankingprofile img {
    width: 32px;
    border-radius: 50%;
    border: 1px solid #4c4c4c;
    margin-right: 10px;
}

.lateralbar-ludifica > div > div,
.block_ludifica .tabranking > h3 {
    margin: 15px 0;
}

.block_ludifica .tabranking .generaltable tr {
    background-color: #fff;
}

.block_ludifica .generaltable tr:hover {
    background-color: #ced4da;
}

.block_ludifica .rankingheader {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.block_ludifica .rankingheader button {
    font-size: 12px;
    padding: 0 9px;
    height: 30px;
    min-width: 128px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}

.block_ludifica .generaltable thead th {
    font-size: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

[data-region="blocks-column"] .block_ludifica .tab-profile {
    background-position: center top;
}

[data-region="blocks-column"] .block_ludifica .avatar-box,
.drawer .block_ludifica .avatar-box {
    width: 100%;
    padding: 20px 0 0 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 50%);
}

[data-region="blocks-column"] .block_ludifica .avatarbust,
.drawer .block_ludifica .avatarbust {
    width: 70px;
    height: 70px;
    margin-top: 180px;
}

[data-region="blocks-column"] .userbadges-ludifica,
.drawer .userbadges-ludifica {
    justify-content: space-around;
    padding: 0;
}

[data-region="blocks-column"] .lateralbar-ludifica,
.drawer .lateralbar-ludifica {
    position: inherit;
    margin-top: 0;
    background-color: #fff;
}

[data-region="blocks-column"] .lateralbar-ludifica > div,
.drawer .lateralbar-ludifica > div {
    display: flex;
    width: 258px;
    justify-content: space-between;
    margin-top: 10px;
}

[data-region="blocks-column"] .block_ludifica .showhelpsbutton,
.drawer .block_ludifica .showhelpsbutton {
    position: relative;
    z-index: 1;
}

[data-region="blocks-column"] .block_ludifica .tab-dynamichelps.showhelps,
.drawer .block_ludifica .tab-dynamichelps.showhelps {
    left: 13px;
    width: 90%;
    padding: 10px;
    top: 50px;
}

[data-region="blocks-column"] .block_ludifica .tab-dynamichelps.showhelps.iconsonly,
.drawer .block_ludifica .tab-dynamichelps.showhelps.iconsonly,
[data-region="blocks-column"] .block_ludifica .tabranking.showranking.iconsonly,
.drawer .block_ludifica .tabranking.showranking.iconsonly {
    /* stylelint-disable-next-line declaration-no-important */
    top: 80px !important;
}

[data-region="blocks-column"] .block_ludifica-tabs.incourse,
.drawer .block_ludifica-tabs.incourse {
    max-width: 250px;
}

[data-region="blocks-column"] .block_ludifica .tab-dynamichelps.showhelps .card-body,
.drawer .block_ludifica .tab-dynamichelps.showhelps .card-body,
[data-region="blocks-column"] .block_ludifica .tab-dynamichelps.showhelps .card-body .list-group-item,
.drawer .block_ludifica .tab-dynamichelps.showhelps .card-body .list-group-item {
    padding: 10px;
}

[data-region="blocks-column"] .block_ludifica .player_info,
.drawer .block_ludifica .player_info {
    flex-wrap: wrap;
}

[data-region="blocks-column"] .lateralbar-ludifica,
.drawer .lateralbar-ludifica {
    width: 100%;
}

[data-region="blocks-column"] .block_ludifica .tabranking.showranking,
.drawer .block_ludifica .tabranking.showranking {
    padding: 5px;
    width: calc(100% - 10px);
}

.block_ludifica .tabranking.showranking {
    display: block;
    position: absolute;
    top: 100px;
    left: 16px;
    animation: appearleft 0.2s ease-in-out;
    opacity: 1;
    background-color: #fff;
    padding: 20px 20px 20px 40px;
    width: 61%;
    border-radius: 0 10px 10px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    z-index: 1;
}

@keyframes appearleft {
    0% {
        opacity: 0;
        left: -50px;
    }
    100% {
        opacity: 1;
        left: 16px;
    }
}

.block_ludifica .tabranking .rankingheader .btn {
    display: none;
}

.block_ludifica .tabranking.showranking .rankingheader .btn,
.showranking .closeludifica,
.showhelps .closeludifica {
    display: block;
}

.block_ludifica .tab-dynamichelps.showhelps {
    display: block;
    position: absolute;
    top: 115px;
    right: 16px;
    animation: appearright 0.2s ease-in-out;
    opacity: 1;
    background-color: #fff;
    padding: 15px;
    width: 61%;
    border-radius: 10px 0 0 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    z-index: 2;
}

.closeludifica {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: #4c4c4c;
    cursor: pointer;
    display: none;
}

.closeludifica:hover {
    color: #ff2e00;
}

@keyframes appearright {
    0% {
        opacity: 0;
        right: -50px;
    }
    100% {
        opacity: 1;
        right: 16px;
    }
}

.block_ludifica .showrankingbutton {
    background-color: #4c4c4c;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    position: absolute;
    color: #fff;
    font-weight: bolder;
    right: 16px;
    z-index: 1;
}

.block_ludifica .showhelpsbutton.activebtn,
.block_ludifica .showrankingbutton.activebtn,
.block_ludifica .showrankingbutton.activebtn:hover {
    background-color: #ff2e00;
}

.block_ludifica-tabs .icon {
    margin-right: 0;
}

.block_ludifica-tabs > [data-ref] {
    padding: 6px 10px 0 10px;
    min-width: 37px;
    min-height: 37px;
    margin: 2px 5px;
    border-radius: 1px;
    box-shadow: rgba(100, 100, 111, 0) 0 7px 29px 0;
}

.block_ludifica-tabs > .active,
.block_ludifica-tabs > [data-ref]:hover {
    border-radius: 37px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.block_ludifica-tabs {
    padding-bottom: 10px;
    min-width: 200px;
}

#page-blocks-ludifica-tickets .alertc-control .close,
#page-blocks-ludifica-avatars .alertc-control .close,
#page-blocks-ludifica-badges .alertc-control .close {
    display: none;
}

#page-blocks-ludifica-tickets .alertc-control,
#page-blocks-ludifica-avatars .alertc-control,
#page-blocks-ludifica-badges .alertc-control {
    position: fixed;
    border: none;
    top: 20%;
}

#page-blocks-ludifica-tickets .alertc-control > div,
#page-blocks-ludifica-avatars .alertc-control > div,
#page-blocks-ludifica-badges .alertc-control > div {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 70px 0;
    box-shadow: 0 0 14px #0f1c37;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0.95;
}

#page-blocks-ludifica-tickets .alertc-control .alert-success,
#page-blocks-ludifica-avatars .alertc-control .alert-success,
#page-blocks-ludifica-badges .alertc-control .alert-success {
    background-color: #23ce6b;
    color: #126936;
}

#page-blocks-ludifica-tickets .alertc-control .alert-danger,
#page-blocks-ludifica-avatars .alertc-control .alert-danger,
#page-blocks-ludifica-badges .alertc-control .alert-danger {
    background-color: #e84855;
    color: #7f1019;
}

#page-blocks-ludifica-tickets .alertc-control .alert-secondary,
#page-blocks-ludifica-avatars .alertc-control .alert-secondary,
#page-blocks-ludifica-badges .alertc-control .alert-secondary {
    background-color: #68b0ab;
    color: #315e5b;
}

#page-blocks-ludifica-tickets .alertc-control .alert-warning,
#page-blocks-ludifica-avatars .alertc-control .alert-warning,
#page-blocks-ludifica-badges .alertc-control .alert-warning {
    background-color: #e59428;
    color: #7e4e0f;
}

@media screen and (min-width: 1700px) {

    #region-main .block_ludifica .tab-profile {
        background-position: center;
    }
}

@media screen and (max-width: 700px) {
    .block_ludifica .avatar-box {
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 50%);
        padding: 0;
    }

    .block_ludifica .avatarbust {
        width: 70px;
        height: 70px;
        margin-top: 180px;
    }

    .block_ludifica .tab-profile {
        background-position: center top;
    }

    .block_ludifica .player_info {
        flex-direction: column;
    }

    .userbadges-ludifica {
        justify-content: space-around;
        padding: 0 50px;
    }

    .lateralbar-ludifica {
        position: inherit;
        margin-top: 0;
        background-color: #fff;
        width: auto;
    }

    .lateralbar-ludifica > div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .block_ludifica .showhelpsbutton {
        margin-right: -15px;
    }

    .block_ludifica .tab-dynamichelps.showhelps,
    .block_ludifica .tabranking.showranking {
        width: calc(100% - 40px);
    }
}

.block_ludifica {
    background: url('https://i.postimg.cc/jqBCJjKG/bg1-ludifica.jpg') no-repeat center center!important;
    background-color: #383a70;
    min-height: 650px;
    background-size: cover!important;
}

#region-main .block_ludifica.block .content {
    margin-bottom: 0;
    padding-bottom: 0;
}

#block_ludifica_2 {
    margin-top: -15px;
}

.image-container {
    transition: transform 0.3s ease-in-out;
}

.image-container:hover {
    transform: scale(1.1);
}

.block_ludifica .eliza-btn {
    width: 130px;
    height: 44px;
    margin-top: 15px;
    background-color: #f6d052;
    border: none;
    color: #2d3351;
    display: flex;
    border-radius: 30px 10px 10px 30px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    box-sizing: border-box;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 32%);
    transition: 0.1s ease;
    transform: scale(1, 1);
}

.block_ludifica .eliza-btn::before {
    height: 44px;
    min-width: 44px;
    position: relative;
    left: 0;
    content: '';
    border-radius: 30px;
    padding: 10px;
    margin-top: -10px;
    margin-left: -13px;
    background: #eaaf0a url('https://universidad.escuelacorporativa.com/blocks/ludifica/pix/icons.png') no-repeat center center / cover;
    transform: rotate(0deg);
    transition: 0.3s ease;
    box-shadow: 0 0 0 0 #f6d052;
}

.block_ludifica .eliza-btn:hover {
    box-shadow: 0 0 10px 0 rgb(45, 51, 81);
    transform: scale(1.2, 1.2);
    background-color: #2d3351;
    /* stylelint-disable-next-line declaration-no-important */
    color: #fff !important;
    text-decoration: none;
}

.block_ludifica .eliza-btns {
    position: absolute;
    top: 260px;
    right: 15px;
}

.block_ludifica .eliza-btns .eliza-btn:hover::before {
    transform: rotate(-20deg);
    box-shadow: 0 0 10px 0 #f6d052;
}

.block_ludifica .eliza-btns span {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.block_ludifica .eliza-btns .badges-btn::before {
    background-position-x: -1px;
}

.block_ludifica .eliza-btns .top-btn::before {
    background-position-x: -323px;
}

.block_ludifica .eliza-btns .avatars-btn::before {
    background-position-x: -582px;
}

.block_ludifica .eliza-btns .store-btn::before {
    background-position-x: -76px;
}

.block_ludifica [data-ludifica-tab="profile"]::before {
    background-position-x: -640px;
}

.block_ludifica .showrankingbutton {
    font-size: 20px;
    background: linear-gradient(white, #9d9b9b);
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 50%);
    border: none;
    color: #004282;
}

.block_ludifica .avatar-box > div:first-child {
    align-items: flex-start;
    flex-direction: column;
}

.ludifica_stats {
    position: absolute;
    top: 70px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    max-width: 300px;
}

.ludifica_stats > h2,
.ludifica_stats > div {
    margin-top: 7px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 50%);
    font-weight: bold;
    background: linear-gradient(white, #9d9b9b);
    
}

.ludifica_stats > h2 {
    top: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ludifica_stats > h2 .quickeditlink {
    display: flex;
}

.ludifica_stats > h2:hover {
    background-color: #3db1d1;
    color: #2d3351;
}

.ludifica_stats > h2 a,
.ludifica_stats > div {
    /* stylelint-disable-next-line declaration-no-important */
    color: #004282 !important;
}

.ludifica_stats > div {
    top: 196px;
    max-width: 230px;
}

.block_ludifica .showhelpsbutton {
    margin: 10px 0;
    color: #004282;
    background: linear-gradient(white, #9d9b9b);
    border: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
}

.block_ludifica .showhelpsbutton .icon {
    margin-left: 4px;
}

.block_ludifica .showhelpsbutton.activebtn .icon {
    margin-left: 2px;
}

.ludifica_stats > h2,
.block_ludifica .showhelpsbutton .icon {
    font-size: 24px;
}

.block_ludifica .ludifica_help,
.ludifica_stats > h2 a .icon {
    color: #004282;
}

.block_ludifica .avatar-box {
    background: none;
    display: inline;
    padding: 0;
    padding-left: 5px;
}

.ludificalevel {
    display: none;
    background: linear-gradient(#ffffff99, #9d9b9b);
    color: #004282;
    position: absolute;
    transform: rotate(-90deg);
    top: 355px;
    left: -5px;
    margin-left: -103px;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 50%);
    z-index: 1;
}

.ludificalevel .ludifica_help {
    transform: rotate(90deg);
}

.block_ludifica .showhelpsbutton.activebtn,
.block_ludifica .showrankingbutton.activebtn,
.block_ludifica .showrankingbutton.activebtn:hover {
    background-color: #ff82a9;
}

.block_ludifica .tab-dynamichelps.showhelps,
.block_ludifica .tabranking.showranking {
    background: linear-gradient(90deg, rgba(61, 177, 209, 0) 0%, rgba(61, 177, 209, 1) 46%);
    animation: appearright_eliza 0.2s ease-in-out;
    right: 16px;
    left: inherit;
    top: 80px;
    width: 75%;
    padding-left: 21%;
    border-radius: 0 10px 10px 0;
    box-shadow: 16px 0 17px 0 rgb(0 0 0 / 50%);
}

.block_ludifica .tabranking.showranking .rankingheader {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.block_ludifica .rankingheader button {
    background-color: #2d3351;
    box-shadow: 0 0 16px 0 #2d335170;
    color: #3db1d1;
    border: none;
}

.block_ludifica .rankingheader button:hover {
    background-color: #3db1d1;
    color: #2d3351;
}

@keyframes appearright_eliza {
    0% {
        opacity: 0;
        right: 50px;
    }
    100% {
        opacity: 1;
        right: 16px;
    }
}

.block_ludifica .generaltable {
    color: #fff;
    border-radius: 10px;
}

.block_ludifica .generaltable p,
.closeludifica:hover {
    color: #fff;
}

.block_ludifica .showranking .generaltable {
    width: 100%;
}

.block_ludifica .generaltable th {
    background-color: #2d3351;
}

.block_ludifica .generaltable th:first-child {
    border-radius: 10px 0 0 10px;
}

.block_ludifica .generaltable th:last-child {
    border-radius: 0 10px 10px 0;
}

.block_ludifica .generaltable thead th,
.block_ludifica .generaltable td {
    border: none;
}

.block_ludifica .generaltable .current-user p,
.block_ludifica .block_ludifica-tabcontent.showranking h3,
.block_ludifica .block_ludifica-tabcontent.showhelps h3 {
    background: none;
    color: #2d3351;
    text-shadow: none;
}

.block_ludifica .generaltable .current-user td {
    background-color: #f6d052;
    color: #2d3351;
}

.block_ludifica .generaltable .current-user td:first-child {
    border-radius: 10px 0 0 10px;
}

.block_ludifica .generaltable .current-user td:last-child {
    border-radius: 0 10px 10px 0;
}

.block_ludifica .tabranking .generaltable tr {
    background: none;
}

.block_ludifica .tab-dynamichelps .card {
    background: none;
    border: none;
    color: #fff;
}

.block_ludifica .tab-dynamichelps .card strong {
    color: #3db1d1;
}

.block_ludifica .tab-dynamichelps.showhelps .card strong,
.closeludifica,
.ludifica_stats > h2:hover a {
    /* stylelint-disable-next-line declaration-no-important */
    color: #2d3351 !important;
}

.block_ludifica .tab-dynamichelps.showhelps .card-body {
    padding: 0;
}

.block_ludifica .tab-dynamichelps .card .icon {
    color: #f6d052;
}

.block_ludifica .tab-dynamichelps .card .card-header {
    font-weight: bolder;
    background: none;
    border: none;
}

.block_ludifica .tab-dynamichelps.showhelps .card .card-header {
    text-align: right;
    padding: 20px 0;
    color: #2d3351;
}

.block_ludifica .tab-dynamichelps .card .list-group-item {
    background: none;
    border: none;
    margin-left: -15px;
}

.block_ludifica-tabcontent.showhelps h3 {
    text-align: right;
}

.block_ludifica-tabcontent.tab-dynamichelps h3 {
    margin-top: 35px;
}

.block_ludifica .userbadges-ludifica {
    background: linear-gradient(0deg, rgb(255 255 255 / 68%) 24%, rgba(45, 51, 81, 0) 100%);
    position: absolute;
    bottom: -5px;
    padding: 35px 0 15px 0;
    border-radius: 0.5rem;
    width: 100%;
    flex-direction: column;
    right: 0;
}

.block_ludifica .userbadges-ludifica .btn {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 200px;
    border-radius: 20px;
    background-color: #f6d052;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 50%);
    border: none;
    font-weight: bold;
}

.block_ludifica .userbadges-ludifica .btn:hover {
    background-color: #eaaf0a;
}

.block_ludifica .userbadges-ludifica > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block_ludifica .userbadges-ludifica .onebadge img {
    width: 90px;
}

.block_ludifica .tab-profile {
    background-size: contain;
    background-position-x: center;
}

.block_ludifica-tabs {
    display: flex;
    background-color: #fff;
    border-bottom: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 50%);
}

.block_ludifica-tabcontent {
    position: relative;
}

.block_ludifica-tabcontent h3,
.block_ludifica-tabcontent h5 {
    color: #ffffff;
    font-weight: bolder;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.531);
}

.block_ludifica h5 {
    color: #3db1d100;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0);
    margin: -3%;
}

#page-blocks-ludifica-badges .eliza-btns .badges-btn,
#page-blocks-ludifica-avatars .eliza-btns .avatars-btn,
#page-blocks-ludifica-tickets .eliza-btns .store-btn,
.block_ludifica .tab-profile .eliza-btns [data-ludifica-tab="profile"] {
    box-shadow: 0 0 10px 0 rgb(45, 51, 81);
    transform: scale(1.2, 1.2);
    background-color: #2d3351;
    color: #fff;
    text-decoration: none;
    border: 1px solid #eaaf0a;
    pointer-events: none;
    position: relative;
    left: -12px;
}

#page-blocks-ludifica-badges .eliza-btns .badges-btn::before,
#page-blocks-ludifica-avatars .eliza-btns .avatars-btn::before,
#page-blocks-ludifica-tickets .eliza-btns .store-btn::before,
.block_ludifica .tab-profile .eliza-btns [data-ludifica-tab="profile"]::before {
    box-shadow: 0 0 10px 0 #f6d052;
    top: -2px;
}

[data-region="blocks-column"] .block_ludifica .avatar-box,
.drawer .block_ludifica .avatar-box {
    background: none;
    padding: 0;
}

[data-region="blocks-column"] .ludificalevel,
.drawer .ludificalevel {
    top: 130px;
    padding: 5px;
    width: auto;
    left: 5px;
}

[data-region="blocks-column"] .block_ludifica .avatar-box > div,
.drawer .block_ludifica .avatar-box > div {
    align-items: center;
    flex-direction: row;
}

[data-region="blocks-column"] .ludifica_stats,
.drawer .ludifica_stats {
    position: unset;
    max-width: unset;
    align-items: center;
}

[data-region="blocks-column"] .ludifica_stats > h2,
.drawer .ludifica_stats > h2,
[data-region="blocks-column"] .ludifica_stats > div,
.drawer .ludifica_stats > div {
    max-width: unset;
    margin-bottom: 10px;
}

[data-region="blocks-column"] .block_ludifica-tabs,
.drawer .block_ludifica-tabs {
    min-height: 143px;
    align-items: center;
}

[data-region="blocks-column"] .block_ludifica-tabs.iconsonly,
[data-region="blocks-column"] .block_ludifica-tabs.iconsonly.incourse,
.drawer .block_ludifica-tabs.iconsonly,
.drawer .block_ludifica-tabs.iconsonly.incourse {
    min-height: auto;
}

[data-region="blocks-column"] .block_ludifica-tabs.incourse,
.drawer .block_ludifica-tabs.incourse {
    min-height: 184px;
}

[data-region="blocks-column"] .block_ludifica .tab-dynamichelps.showhelps.incourse,
.drawer .block_ludifica .tab-dynamichelps.showhelps.incourse,
[data-region="blocks-column"] .block_ludifica .tabranking.showranking.incourse,
.drawer .block_ludifica .tabranking.showranking.incourse {
    top: 324px;
}

[data-region="blocks-column"] .block_ludifica .eliza-btns,
[data-region="blocks-column"] .block_ludifica .userbadges-ludifica,
.drawer .block_ludifica .userbadges-ludifica,
.drawer .block_ludifica .eliza-btns {
    position: unset;
    background: none;
}

[data-region="blocks-column"] .block_ludifica .eliza-btns,
.drawer .block_ludifica .eliza-btns {
    position: unset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

[data-region="blocks-column"] .block_ludifica .player_info,
.drawer .block_ludifica .player_info {
    min-height: 250px;
}

[data-region="blocks-column"] .block_ludifica .tab-profile,
.drawer .block_ludifica .tab-profile {
    background-position: center top;
    position: relative;
}

[data-region="blocks-column"] .block_ludifica .tab-dynamichelps.showhelps,
[data-region="blocks-column"] .block_ludifica .tabranking.showranking,
.drawer .block_ludifica .tab-dynamichelps.showhelps,
.drawer .block_ludifica .tabranking.showranking {
    background-color: #3db1d1;
}

.block_ludifica #avatars-list > div {
    transform: perspective(1px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
    margin: 10px;
}

.block_ludifica #avatars-list > div:hover {
    transform: scale(1.1) rotate(2deg);
}

#page-blocks-ludifica-avatars .store-tabs,
#page-blocks-ludifica-tickets .store-tabs,
#page-blocks-ludifica-badges .store-tabs {
    display: none;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar .card {
    box-shadow: 0 0 0 0 #f6d052;
    filter: contrast(100%) brightness(100%);
    background: none;
    /* border: 1px solid #eaae0a00; */
}

#page-blocks-ludifica-avatars #avatars-list .userhas .card {
    background-color: #f6d052;
}

#page-blocks-ludifica-avatars #avatars-list .userhas .card-header {
    /* stylelint-disable-next-line declaration-no-important */
    color: #31345e !important;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar,
#page-blocks-ludifica-badges #badges-list .onebadge,
#page-blocks-ludifica-tickets #tickets-list .oneticket {
    width: 300px;
    max-width: 300px;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar:hover .card {
    box-shadow: 0 0 20px 0 #ffffff;
    animation: hover-animation 0.3s forwards;
    background-color: #ffffff;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar:hover .card-header {
    background-color: #f6d052;
    /* stylelint-disable-next-line declaration-no-important */
    color: #002657 !important;
}

#page-blocks-ludifica-avatars #avatars-list .inuse .card {
    border: 1px solid #3db1d1;
    background-color: #3db1d1;
}

#page-blocks-ludifica-avatars #avatars-list .inuse:hover .card {
    box-shadow: 0 0 20px 0 #3db1d1;
    animation: hover-animation 0.3s forwards;
    background-color: #3db1d1;
}

@keyframes hover-animation {
    0%,
    100% {
        filter: contrast(100%) brightness(100%);
    }
    50% {
        filter: contrast(150%) brightness(150%);
    }
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar .card .card-header {
    color: #ffffff;
    text-align: center;
    background: none;
    border: none;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar .btn-primary,
#page-blocks-ludifica-tickets #tickets-list .oneticket .btn-primary {
    background-color: #002657;
    border: 1px solid #0097D6;
    color: #fff;
    margin: 5px;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar .btn-primary:hover,
#page-blocks-ludifica-tickets #tickets-list .oneticket .btn-primary:hover,
#page-blocks-ludifica-badges #badges-list .openshare:hover {
    background-color: #eaaf0a;
    color: #2d3351;
    border: 1px solid #2d3351;
}

#page-blocks-ludifica-avatars #avatars-list .card-footer,
#page-blocks-ludifica-tickets #tickets-list .card-footer {
    padding: 5px;
    margin: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}

#page-blocks-ludifica-avatars #avatars-list .inuse .used {
    color: #f6d052;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.block_ludifica #avatars-list .oneavatar .description p {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #fff;
    color: #fff;
}

.block_ludifica #avatars-list .oneavatar:hover .description p {
    color: #002657;
    border-top: 1px solid #002657;
}

.block_ludifica #avatars-list .inuse .description p,
.block_ludifica #avatars-list .userhas .description p {
    color: #2d3351;
    border-top: 1px solid #2d3351;
}

#page-blocks-ludifica-tickets #tickets-list,
#page-blocks-ludifica-badges #badges-list,
#page-blocks-ludifica-avatars #avatars-list {
    width: 85%;
}

.block_ludifica .btncanedit {
    background-color: #3db1d1;
    font-weight: bolder;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 50%);
    margin: 20px 0;
}

.block_ludifica #tickets-list .picture-box img {
    display: block;
    margin: auto;
}

.block_ludifica #tickets-list .card {
    background: none;
    border: 1px solid #ffffff36;
    color: #002657;
    background-color: #ffffff96;
    box-shadow: 0 0 0 0 #3db1d1;
    filter: contrast(100%) brightness(100%);
    transform: perspective(1px);
    transition-duration: 0.3s;
    transition-property: transform;
}

.block_ludifica #tickets-list .card:hover {
    box-shadow: 0 0 20px 0 #3db1d1;
    animation: hover-animation 0.3s forwards;
    background-color: #3db1d1;
    transform: scale(1.1) rotate(2deg);
}

.block_ludifica #tickets-list .card-header {
    font-size: 19px;
    text-align: center;
    color: #002657;
    background: none;
    border: none;
}

.block_ludifica #tickets-list .card-footer {
    background: none;
    border: none;
}

.block_ludifica #tickets-list .moreinfo-ticket {
    color: #002657;
    position: absolute;
    right: 0;
}

.block_ludifica #tickets-list {
    margin-top: 15px;
}

.block_ludifica #tickets-list .card:hover,
.block_ludifica #tickets-list .card:hover .card-header,
.block_ludifica #tickets-list .card:hover .card-header .moreinfo-ticket {
    color: #2d3351;
}

.block_ludifica #tickets-list .description {
    width: 80%;
    padding-top: 10px;
    margin: auto;
    border-top: 1px solid #fff;
}

.block_ludifica #tickets-list .card:hover .description {
    border-top: 1px solid #2d3351;
}

.block_ludifica #tickets-list .card .info-box strong {
    color: #002657;
}

.block_ludifica #tickets-list .card:hover .info-box strong,
.block_ludifica .rankingheader + p,
.block_ludifica .notavailableyet {
    color: #ffffff;
}

.block_ludifica p {
    font-size: 14px;
}

.block_ludifica #badges-list .card {
    background: none;
    border: 1px solid #f6d052;
    color: #fff;
    box-shadow: 0 0 0 0 #f6d052;
    filter: contrast(100%) brightness(100%);
    transform: perspective(1px);
    transition-duration: 0.3s;
    transition-property: transform;
}

.block_ludifica #badges-list .card:hover {
    box-shadow: 0 0 20px 0 #f6d052;
    background-color: #f6d052;
    animation: hover-animation 0.3s forwards;
    transform: scale(1.1) rotate(2deg);
}

.block_ludifica #badges-list .unavailable .card {
    pointer-events: none;
    background: none;
}

.block_ludifica #badges-list .unavailable .openshare {
    display: none;
}

.block_ludifica #badges-list .card-header {
    font-size: 19px;
    text-align: center;
    color: #f6d052;
    background: none;
    border: none;
}

.block_ludifica #badges-list .card:hover .card-header,
.block_ludifica #badges-list .card:hover .info-box {
    color: #2d3351;
}

.block_ludifica #badges-list .card-footer {
    background: none;
    border: none;
}

#badges-list .onebadge .badgecontent,
.block_ludifica .card-title.d-inline {
    /* stylelint-disable-next-line declaration-no-important */
    display: block !important;
}

.block_ludifica #badges-list {
    margin-top: 15px;
}

.block_ludifica #badges-list .picture-box img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.block_ludifica #badges-list .openshare {
    display: block;
    margin: auto;
    background-color: #2d3351;
    border: 1px solid #3db1d1;
    color: #fff;
}

.block_ludifica #badges-list .openshare i {
    color: #3db1d1;
}

.block_ludifica #badges-list .openshare:hover i {
    color: #2d3351;
}

.block_ludifica #badges-list .expirebadge {
    text-align: right;
}

.block_ludifica #badges-list .unavailablewarning {
    color: #e59428;
}

.block_ludifica.ludifica-page .card,
.block_ludifica.ludifica-page .btn {
    border-radius: 0.5rem;
}

.block_ludifica #avatars-list .card:hover .thumbnail,
.block_ludifica #badges-list .card:hover .thumbnail,
.block_ludifica #tickets-list .card:hover .thumbnail {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.ludifica-page {
    padding: 25px;
}

.ludifica-page.block_ludifica .eliza-btns {
    right: 85px;
}

@media screen and (max-width: 700px) {

    .block_ludifica .ludifica_stats {
        position: unset;
        max-width: unset;
        align-items: center;
    }

    .block_ludifica .ludifica_stats > div,
    .block_ludifica .ludifica_stats > h2 {
        max-width: unset;
    }

    .block_ludifica .userbadges-ludifica {
        position: unset;
    }

    .block_ludifica .eliza-btns {
        position: unset;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .block_ludifica .player_info {
        min-height: 250px;
    }

    .ludifica-page.block_ludifica .eliza-btns {
        /* stylelint-disable-next-line declaration-no-important */
        right: 15px !important;
    }

    .block_ludifica .ludificalevel {
        /*transform: rotate(0);
        margin-left: 0;
        top: 208px;
        right: 0;
        left: 0;
        width: unset;*/
        top: 130px;
        padding: 5px;
        width: auto;
        left: 5px;
    }

    .block_ludifica .tab-dynamichelps.showhelps,
    .block_ludifica .tabranking.showranking {
        width: 100%;
        background: linear-gradient(90deg, rgba(61, 177, 209, 0.8) 0%, rgba(61, 177, 209, 1) 40%);
        padding-left: 20px;
    }
}
